.auth-wrapper {
	margin: 50px 0;
}
.auth-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 90px;
}
.form-container {
	width: 600px;
	padding: 70px;
	border: 1px solid #d0d0d0;
	border-radius: 10px;
}
.form-container h1 {
	text-align: center;
	font-size: 40px;
	line-height: 48px;
	color: #444444;
	margin-bottom: 50px;
}
.input-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.input-group label {
	font-size: 18px;
	line-height: 22px;
	color: #444444;
	font-weight: 600;
}
.input-group input {
	background: #ffffff;
	border: 1px solid #e8e8e8;
	border-radius: 10px;
	width: 95%;
	height: 50px;
	max-width: 450px;
	padding: 10px;
	font-size: 16px;
	line-height: 30px;
	margin: 20px 0;
	outline: none;
	transition: all 0.3s ease;
}
.input-group input:focus,
.input-group input:active {
	outline: none;
	border-color: #ff3811;
	transform: translateY(-5px);
}
.input-group input::placeholder {
	color: #a2a2a2;
}
.others-auth p {
	text-align: center;
	margin-top: 30px;
}
.icons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}
.icons .icon {
	background: #f5f5f8;
	width: 55px;
	height: 55px;
	display: grid;
	place-items: center;
	border-radius: 50%;
	cursor: pointer;
}
.icons .icon:hover img {
	transform: scale(1.12);
}
.icons .icon img {
	width: 31px;
	height: 31px;
	transition: all 0.2s ease;
}
.others-auth p {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #737373;
}

.others-auth p a{
   color: #ff3811;
   text-decoration: none;
   font-weight: 600;
}