.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
   flex-wrap:wrap ;
   padding: 15px 0;
   position: relative;
}
.logo img{
   width: 100px;
   height: 80px;
}
.menu-cross{
   display: none;
}
.header-links{
   transition: all 0.4s ease-in-out;
}
.header-links ul {
	list-style-type: none;
}
.header-links ul li {
	display: inline-block;
	margin-left: 30px;
}
.header-links ul li a {
	color: black;
}
.header-links ul li a:hover {
	color: #ff3811;
}
.handbag-search-appointment {
	display: flex;
	justify-content: space-around;
	align-items: center;
   transition: flex-basis 0.2s ease; 
}
.icon{
   margin-right: 20px;
   cursor: pointer;
}
.icon svg{
   width: 20px;
   height: 20px;
}
.icon:hover svg{
   fill: #ff3811;
}
@media only screen and (max-width:1024px) {
   .handbag-search-appointment{
      flex-basis: 100%;
   }
}
@media only screen and (max-width:768px) {
   .header-container{
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
   }
   .menu-cross{
      display: block;
      position: absolute;
      right: 0;
      top: 50px;
   }
   .menu-cross .icon svg{
      width: 30px;
      height: 30px;
   }
   .menu-cross .icon-cross{
      display: none;
   }
   .header-links{
      position: absolute;
      right: 0;
      top: 0px;
      transform: translateY(-100%);
   }
   .header-links ul li {
      display:block;
      margin-left: 30px;
      flex-basis: 100%;
      margin: 0;
   }  
}