.service-details-wrapper {
	margin-top: 100px;
}
.service-details-wrapper p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #737373;
}
.service-details-banner {
	height: 300px;
	border-radius: 10px;
	background: linear-gradient(90deg, #151515 0%, rgba(21, 21, 21, 0) 100%);
	background-image: url('../../../assets/images/services/4.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 0;
}
.service-details-banner::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background: linear-gradient(90deg, #151515 0%, rgba(21, 21, 21, 0) 100%);
	z-index: -1;
}
.service-details-banner h1 {
	font-size: clamp(36px, 4.5vw, 54px);
	line-height: 1.2;
	color: white;
	z-index: 2;
	padding: 120px 0 0 100px;
}
.breadcrumb {
	background: #ff3811;
	width: fit-content;
	height: 50px;
	font-size: 20px;
	line-height: 24px;
	padding: 13px 45px;
	color: white;
	position: absolute;
	bottom: 0;
	left: 38%;
	clip-path: polygon(12% 0%, 88% 0, 100% 100%, 0% 100%);
}

.service-details-info-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 25px;
	padding-top: 120px;
}
.service-details-info img {
	border-radius: 10px;
	width: 100%;
	height: 400px;
}

.service-details-info .title {
	font-weight: 700;
	font-size: clamp(20px, 2.5vw, 35px);
	line-height: clamp(24px, 3vw, 42px);
	margin-top: 50px;
}

.service-details-info .description {
	margin-top: 30px;
}

.facilities {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 25px;
	margin-top: 30px;
}
.facility-card {
	padding: 40px;
	background: #f3f3f3;
	border-top: 3px solid #ff3811;
	border-radius: 10px;
}
.facility-card h3 {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}
.facility-card p {
	margin-top: 10px;
	text-transform: capitalize;
}
.random {
	margin-top: 30px;
}
.process h1 {
	margin: 50px 0 30px 0;
	font-weight: 700;
	font-size: clamp(25px, 2.5vw, 35px);
	line-height: clamp(30px, 3vw, 42px);
}

.process p {
	margin-bottom: 30px;
}
.steps {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 130px;
}
.step {
	width: 235px;
	height: 277px;
	border: 1px solid #e8e8e8;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}
.step .number {
	background: rgba(255, 56, 17, 0.1);
	border-radius: 50%;
	width: 85px;
	height: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.step .number p {
	background: #ff3811;
	text-align: center;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	color: white;
	font-weight: 700;
	font-size: 20px;
	line-height: 55px;
	margin: 0;
}

.other-services {
	padding: 40px;
	background: #f3f3f3;
	border-radius: 10px;
	height: 490px;
}

.other-services h1 {
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
}
.other-services .services {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
}
.other-services .services .service {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #ffffff;
	border-radius: 5px;
	padding: 16px;
	transition: all 0.3s ease;
	cursor: pointer;
}
.other-services .services .service p {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #151515;
}
.other-services .services .service svg {
	color: #ff3811;
	width: 24px;
	height: 24px;
}
.other-services .services .service:hover p {
	color: white;
}
.other-services .services .service:hover {
	background: #ff3811;
}
.other-services .services .service:hover svg {
	color: white;
}
.download {
	background: #151515;
	border-radius: 10px;
	color: white;
	padding: 40px;
}
.download h2 {
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 20px;
}
.download-items {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.download-items .item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.download-items .item .pdf-info {
	display: flex;
	align-items: center;
	gap: 10px;
}
.download-items .item .pdf-info svg:nth-of-type(1) {
	width: 30px;
	height: 30px;
}
.download-items .item > .right-arrow{
	padding: 16px;
	background: #ff3811;
	border-radius: 5px;	
	width: 56px;
	height: 56px;
	cursor: pointer;
}
.download-items .item > .right-arrow> svg {
	width: 24px;
	height: 24px;
	
}
