.slider-wrapper {
	position: relative;
   margin: 65px 0;
}
.slide {
	width: 100%;
	height: 600px;
	color: white;
	font-size: 200px;
	border-radius: 10px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   position: relative;
}
.slide::after{
   content: " ";
   position: absolute;
   top: 0;
   left: 0;
   width:100%; height:100%;
   background: linear-gradient(90deg, #151515 0%, rgba(21, 21, 21, 0) 100%);
}
.slide img{
   width: 100%;
}
.slider-info{
   position: absolute;
   z-index: 99;
   left: 100px;
   top: 100px;

}
.slider-info h1{
   color: white;
   font-size: 60px;
   line-height: 75px;
}
.slider-info p{
   margin: 30px 0;
   width: 50%;
   color: white;
}
.slider-btns button{
   margin-right: 15px;
}
.arrows {
	display: flex;
	gap: 20px;
}
.arrow {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 10px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 9%;
   transition: all 0.2s ease;
   cursor: pointer;
}
.arrow:focus,
.arrow:active,
.arrow:hover {
	background-color: #ff3811;
}
.arrow svg {
	cursor: pointer;
	width: 24px;
	height: 24px;
	fill: white;
}
.arrow--left {
	right: 15%;
}
.arrow--right {
	right: 4.5%;
}
@media only screen and (max-width: 768px){
   .arrow{
      width: 45px;
      height: 45px;
   }
   .arrow--left {
      right: 15%;
   }
   .arrow--right {
      right: 3%;
   }  
}