@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
}
.container {
	width: 95%; /* adjust as needed */
	max-width: 1200px; /* adjust as needed */
	margin: 0 auto;
}
/* media queries for container styles */
@media screen and (max-width: 600px) {
	.container {
		width: 98%;
		max-width: none;
	}
}

body {
	min-width: 320px;
	min-height: 100vh;
}

button {
	border-radius: 5px;
	border: 1px solid transparent;
	padding: 15px 28px;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	cursor: pointer;
	background-color: inherit;
	transition:all 0.3s ease;
}
.btn-outline-orange {
	color: #ff3811;
	border-color: #ff3811;
}
.btn-fill-orange{
	background-color: #ff3811;
	color: white;
}
.btn-outline-white {
	color: #FFFFFF;
	border-color: #FFFFFF;
}
.btn-outline-orange:hover,
.btn-outline-orange:focus,
.btn-outline-orange:active {
	outline-color: transparent;
	background-color: #ff3811;
	color: white;
}
.btn-outline-white:hover,
.btn-outline-white:focus,
.btn-outline-white:active{
	border-color: #ff3811;
	color: #ff3811;
}

@media only screen and (max-width: 1024px) {
	button {
		padding: 7px 14px;
		font-size: 16px;
	}
}
